NEXT_PUBLIC_SUPABASE_URL=https://iokplwgvpgeuggmrfqhg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlva3Bsd2d2cGdldWdnbXJmcWhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4Nzg1OTIsImV4cCI6MjEwNDQ1NDU5Mn0.Kf1zcrx6iRethfwYugRNkFm3leFPjQf6KsiKes1LlUM
TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_API_KEY_SID=your-twilio-api-key-sid
TWILIO_API_KEY_SECRET=your-twilio-api-key-secret
TWILIO_PHONE_NUMBER=your-twilio-phone-number
