NEXT_PUBLIC_SUPABASE_URL=https://iokplwgvpgeuggmrfqhg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlva3Bsd2d2cGdldWdnbXJmcWhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4Nzg1OTIsImV4cCI6MjEwNDQ1NDU5Mn0.Kf1zcrx6iRethfwYugRNkFm3leFPjQf6KsiKes1LlUM